.grid {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.cell {
  width: 60px;
  height: 60px;
  border: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background: white;
  color: white;
}

/* colors */
.cell.green {
  background: forestgreen;
  border: none;
}

.cell.yellow {
  background: #FEBE10;
  border: none;
}

.cell.gray {
  background: #aaa;
  border: none;
}

.keyboard {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.keyboard-row {
  display: flex;
  gap: 6px;
}

.key {
  padding: 20px;
  border-radius: 4px;
  background: #818384;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.key:hover {
  background: #a4a6a8;
}

.key.wide {
  min-width: 60px;
}

@media (max-width: 480px) {
  .cell {
    width: 45px;
    height: 45px;
    font-size: 12px;
  }

  .key {
    height: 40px;
    padding: 10px;
    font-size: 10px;
  }
}